body {
    background-color: rgb(155, 208, 203);
}

.wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.joinbox {          
    background-color: whitesmoke;
    width: 600px;
    height: 900px;
    border: 1px solid rgb(155, 208, 203);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
 
@media (max-width: 400px) {
  .joinbox { width: 100% }
}


input[type=text] {

    background-color:  rgb(155, 208, 203);
    border: 0px;
    height: 50px;
    width: 400px;
    margin: 20px 0px 0px 30px;

} 

.inputbox {
    position: relative;
    right: 20px;

}

.inputdiv {
    margin-bottom: 50px;
}

.choosephoto {
    border: 2px solid rgb(126, 169, 164);
    font-size: 20px;
    padding: 2px;
}

.choosephoto:hover {
    cursor: pointer;
}

.submitphoto:hover {
    cursor: pointer;
}

.text {
    font-size: 20px;
}

.checkbutton {
    position: absolute;
    bottom: 24px;
    left: 150px;
    width:70px;
    border: 1px solid white;
    color:rgb(155, 208, 203);
    font-weight: bold;
}

.checkbutton:hover {
    cursor: pointer;
}


.submitphoto {
    position: absolute;
    bottom: 10px;
    right: 177px;
    border: 2px solid rgb(126, 169, 164);
    font-size: 20px;
    padding: 2px;
}

.x {
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.good {
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.mainimg {
    width: 400px;
    height: 300px;
}

.preview {
    position: absolute;
    bottom: 50px;
    left: 160px;
    width: 70px;
}