body {
    background-color: rgb(155, 208, 203);
}

.loginbox {          
    background-color: whitesmoke;
    max-width: 400px;
    height: 700px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    width: 100%;
    left: 550px;
    right: 800px;
}

input[type=text] {

    background-color:  rgb(155, 208, 203);
    border: 0px;
    height: 30px;
    max-width: 500px;
    width: 100%;
    margin: 20px;

} 

.inputbox {
    position: relative;
    right: 20px;

}

.inputdiv {
    margin-bottom: 50px;
}

.text {
    font-size: 20px;
}

.x {
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.good {
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.mainimg {
    width: 300px;
    height: 200px;
}

.jointext {
    font-size: 10px;
}

.buttonjoin {
    border: 1px solid black;
    font-size: 13px;
    padding: 2px;
}

.buttonlogin {
    border: 1px solid black;
    font-size: 13px;
    padding: 2px;
}